{% extends "layout.html" %}

{% block pageTitle %}

    <title>Ideas - Casa Criativa</title>

{% endblock pageTitle %}

{% set bodyId = "page-ideas" %}

{% block content %}

  <header>

    {% include "logo.html" %}

    <nav>

      <li>
      
        <a class="underline" href="/">Início</a>

      </li>

      <li>
      
        <a href="#" class="button" onclick="onOff()">Nova Ideia</a>

      </li>

    </nav>

  </header>

  <section id="title">

    <p>em exibição</p>

    <h1>Ideias</h1>

  </section>

  <main>

    <section id="ideas">

      {% include "allIdeas.html" %}

    </section>

  </main>

  {% include "footer.html" %}

{% endblock content %}