<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "headCssLinks.html" %}

    {% block pageTitle %}
      
      <title>Casa Criativa</title>

    {% endblock pageTitle %}

  </head>

  <body id="{{ bodyId }}">

    <div id="container">

      {% block content %}
      {% endblock content %}
      
    </div>

    {% include "modal.html" %}

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <script src="./index.js"></script>
  </body>
</html>